In [3]:
import joblib
import pandas as pd
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv("data/student_marks.csv")

In [5]:
data.head()

   number_courses  time_study    mark
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   number_courses  100 non-null    int64
 1   time_study      100 non-null    float64
 2   mark            100 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [7]:
data.describe()

       number_courses  time_study        mark
count      100.000000  100.000000  100.000000
mean         5.290000    4.077140   24.417690
std          1.799523    2.372914   14.326199
min          3.000000    0.096000    5.609000
25%          4.000000    2.058500   12.633000
50%          5.000000    4.022000   20.059500
75%          7.000000    6.179250   36.676250
max          8.000000    7.957000   55.299000

Generate train and test splits

In [8]:
X = data.drop(columns='mark')
y = data["mark"]

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=83)

In [9]:
model = LinearRegression()

In [10]:
model.fit(x_train, y_train)

LinearRegression()

Evaluate Test split

In [11]:
predictions = model.predict(x_test)
print("RMSE: ", mean_squared_error(y_test, predictions, squared=False))
print("R2: ", r2_score(y_test, predictions))

RMSE:  3.7883277983126105
R2:  0.8904476265197132

Save the model

In [12]:
%mkdir -p build

In [14]:
s = joblib.dump(model, "build/model.joblib")
s

['build/model.joblib']